<html> <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Home Page by Inty</title>
  </head>

  <h1>Home Page by Inty</h1>
  <table border="1" align="center" width="90%" cellpadding="5" cellspacing="5" bg="light blue">
    <tr>
       <td colspan="3" bgcolor="lightblue"><img src="logoqcc.png"></td>
    </tr>
    <tr>
      <td>rowspan="2"><img src"museumqcc.jpg></td>
      <td>The Quick Brown Fox Jumps Over The Lazy Dog Near The Bank Of The River.The Quick Brown Fox Jumps Over The Lazy Dog Near The Bank Of The River.The Quick Brown Fox Jumps Over The Lazy Dog Near The Bank Of The River.The Quick Brown Fox Jumps Over The Lazy Dog Near The Bank Of The River.</td>
      <td>The Quick Brown Fox Jumps Over The Lazy Dog Near The Bank Of The River.The Quick Brown Fox Jumps Over The Lazy Dog Near The Bank Of The River.The Quick Brown Fox Jumps Over The Lazy Dog Near The Bank Of The River.The Quick Brown Fox Jumps Over The Lazy Dog Near The Bank Of The River.</td>
    </tr>